<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Home page</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

  <p class="container text-left">
      <h2>Training project</h2>
  </p>

<div class="container text-center">
  <h1>Home page</h1>
  <h3><a th:href="@{/users}">List of all users</a></h3>
  <h3><a th:href="@{/auth/register}">Register</a></h3>
  <h3><a th:href="@{/auth/login}">Login</a></h3>
  <a style="color: darkgreen" href="https://github.com/Romaniuzz/CRUD-app"><h4>Code on Github</h4></a>
</div>

</body>
</html>